<div class="background">
    <div style="background-color: transparent; height: 100px;"></div>
    <div class="text-center">
        <p>Seguimos con algo facilito... Recuerda que una vez pulses la respuesta no hay vuelta atrás. <strong>1 punto de valor</strong></p>
        <p>Espero que tus técnicas de test te ayuden</p>
        <h1>¿Cual es mi jugador preferido de padel?</h1>
        
    </div>
   

    <div style="margin-top: 220px;" class="row">
        <div class="col-md-4 col-lg-4 text-center">
            <button [disabled]="comprobado" (click)="comprobarRespuestas('1')"  style="width: 400px; height: 60px;" class="btn">JUAN LEBRÓN</button>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
            <button [disabled]="comprobado" (click)="comprobarRespuestas('2')" style="width: 400px; height: 60px;" class="btn">PAQUITO NAVARRO</button>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
           
            <button id="correcto" [disabled]="comprobado"  (click)="comprobarRespuestas('3')" style="width: 400px; height: 60px;" class="btn">FRANCO STUPAZUCK</button>
        </div>
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4"></div>
    </div>
    <div style="margin-top: 100px;" class="text-center">
        <div>
            <label style="color: green;" *ngIf="showCorrecto"> ¡Correcto! Anda que te lo estoy poniendo difícil!</label>
            <label style="color: red;" *ngIf="showIncorrecto"> ¡No puedo creer que hayas fallado esto!</label>
            <div>
                <button class="btn-siguiente" *ngIf="comprobado" (click)="siguientePregunta()" style="width: 80px; height: 60px;">  <fa-icon  style="color: plum; margin-left: 5px;" size="2x" [icon]="flechaIcon"></fa-icon></button>
            </div>
         
      
    </div>
    <div style="margin-top: 60px;" class="text-center">
        <div>
            <button style="width: 100px; height: 100px; border-radius: 50%; font-weight: bolder; font-size: 30px;" class="btn">{{puntos}}</button>
        </div>
       
        <label style="font-size: medium; font-weight: bolder;">Tus puntos</label>
      
    </div>
    </div>
    <router-outlet></router-outlet>
