@import "~bootstrap/dist/css/bootstrap.css";/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
background: gray; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0%;}


.btn {
    border: none;
    border-radius: 5px; 
    opacity: 95%;
    background-color: plum;
    width: 300px; height: 80px;
    margin-right: 10px;
    font-weight: bolder; 
    font-size: large;
}

.btn-siguiente {
  border: none;
  border-radius: 5px; 
  opacity: 95%;
  color: plum;
  background-color: black;
  width: 300px; height: 80px;
  margin-right: 10px;
  font-weight: bolder; 
  font-size: large;
}

.btn-outline {
    border: 2px solid plum;
    border-radius: 5px; 
    opacity: 95%;
    color:plum;
    background-color: transparent;
    width: 300px; height: 80px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold; 
}

.pregunta:hover {
  border: solid 2px plum;
}

.background {
  width: 100%;
  height: 100%; 
  color: #fff;background-image: url("https://i.ibb.co/Yf7ft9k/paula3.png");  
  background-repeat: no-repeat;
}   

.btn:hover {
    color: plum;
    background-color: black;
    border: 1px plum;
    
  }

  .btn-siguiente:hover {
   
    color: plum;
    background-color: white;
    border: 1px plum;
    
  }

  .btn-outline:hover {
    color: plum;
    background-color: white;
    border: 1px solid plum;
    
  }
